.header {
  padding: 45px 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: calc(100% - 2*200px);
  max-width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 2*100px);
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: calc(100% - 2*50px);
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }
}
